/* Tab bar icons */

i.tabbar-icon-1 {
  width: 30px;
  height: 30px;
  background-image: url("../img/home.png");
}
.active i.tabbar-icon-1 {
  background-image: url("../img/home-active.png");
}
i.tabbar-icon-2 {
  width: 30px;
  height: 30px;
  background-image: url("../img/checklist.png");
}
.active i.tabbar-icon-2 {
  background-image: url("../img/checklist-active.png");
}
i.tabbar-icon-3 {
  width: 30px;
  height: 30px;
  background-image: url("../img/guide.png");
}
.active i.tabbar-icon-3 {
  background-image: url("../img/guide-active.png");
}
i.tabbar-icon-4 {
  width: 30px;
  height: 30px;
  background-image: url("../img/profile.png");
}
.active i.tabbar-icon-4 {
  background-image: url("../img/profile-active.png");
}



/* Change Status Bar background when panel is opened */        
body.with-panel-left-cover .statusbar-overlay{
    background-color: #309f75;
}  


@media only screen and (min-width: 320px) {
  .img-clip-row {
    display:none;
    margin-top: 1px;
  }
    .iphone-onlyy{
        display:block;
    }
}

@media only screen and (min-width: 768px) {
  .img-clip-row {
    display:block;
    margin-top: 1px;
  }
     .iphone-onlyy{
        display:none;
    }
}

@media (max-width:375px) { 
    .highlight {
    font-size:80%; 
    }
}
   
.guide-div0{
    height:100px; 
    display: flex;
	justify-content: center;
	align-items: center;
    margin-bottom: -60px;
    /*margin-left: 20px;*/
}

.guide-div{
    height:250px; 
	-webkit-clip-path: polygon(0 28%, 100% 0%, 100% 72%, 0 100%);
    clip-path: polygon(0 28%, 100% 0%, 100% 72%, 0 100%);
    display: flex;
	justify-content: center;
	align-items: center;
    margin-bottom: -70px;
}

.guide-div-last{
    height:250px; 
	-webkit-clip-path: polygon(0 28%, 100% 0%, 100% 100%, 0 100%);
    clip-path: polygon(0 28%, 100% 0%, 100% 100%, 0 100%);
    display: flex;
	justify-content: center;
	align-items: center;
    margin-bottom: -70px;
}

.guide-div2{
    height:390px; 
	-webkit-clip-path: polygon(0 28%, 100% 0%, 100% 72%, 0 100%);
    clip-path: polygon(0 28%, 100% 0%, 100% 72%, 0 100%);
    display: flex;
	justify-content: center;
	align-items: center;
    margin-bottom: -109px;
}

.guide-div-last-big{
    height:390px; 
	-webkit-clip-path: polygon(0 28%, 100% 0%, 100% 100%, 0 100%);
    clip-path: polygon(0 28%, 100% 0%, 100% 100%, 0 100%);
    display: flex;
	justify-content: center;
	align-items: center;
    margin-bottom: -109px;
}

.index-div{
    height:150px; 
	-webkit-clip-path: polygon(0 28%, 100% 0%, 100% 72%, 0 100%);
    clip-path: polygon(0 28%, 100% 0%, 100% 72%, 0 100%);
    display: flex;
	justify-content: center;
	align-items: center;
    margin-bottom: -42px;
}

.index-div-last{
    height:150px; 
	-webkit-clip-path: polygon(0 28%, 100% 0%, 100% 100%, 0 100%);
    clip-path: polygon(0 28%, 100% 0%, 100% 100%, 0 100%);
    display: flex;
	justify-content: center;
	align-items: center;
    margin-bottom: -42px;
}

.index-div-big{
    height:100px; 
    display: flex;
	justify-content: center;
	align-items: center;
    margin-bottom: -40px;
    /*margin-left: 20px;*/
}

.index-div2{
    height:250px; 
	-webkit-clip-path: polygon(0 28%, 100% 0%, 100% 72%, 0 100%);
    clip-path: polygon(0 28%, 100% 0%, 100% 72%, 0 100%);
    display: flex;
	justify-content: center;
	align-items: center;
    margin-bottom: -70px;
}

.index-div-last-big{
    height:250px; 
	-webkit-clip-path: polygon(0 28%, 100% 0%, 100% 100%, 0 100%);
    clip-path: polygon(0 28%, 100% 0%, 100% 100%, 0 100%);
    display: flex;
	justify-content: center;
	align-items: center;
    margin-bottom: -70px;
}

.profile-div {
	height: 300px;
	-webkit-clip-path: circle(45% at 50% 50%);
    clip-path: circle(45% at 50% 50%);
}

.panell-div {
	height: 250px;
	-webkit-clip-path: circle(45% at 50% 50%);
    clip-path: circle(45% at 50% 50%);
}


.imageresize
{
    height: auto; 
    width: auto; 
    max-width: 200px; 
    max-height: 200px;
}

.navbar 
{
    background:#0E94D3;
}

.toolbar
{
    background:#0E94D3;
}

.white-headings
{
    color: #fff;
}

.center
{
    color: #fff;
}

.top-dock-icons{
    width:25px;
    height:25px;
}

.dock-brief
{
    font-size: 10px;
    margin: 0em;
}


.clip-svg {
		width: 0;
		height:   0;
	}
	
.triangleimg {
		max-width: 100%;
		height: auto;
        float:right;
	}

.otherimg {
		max-width: 50%;
		height: auto;
        float:right;
	}

#social{
        max-width: 70%;
		height: auto;
}

.polygon-clip-hexagon {
		-webkit-clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
		clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
		-webkit-clip-path: url("#polygon-clip-hexagon");
		clip-path: url("#polygon-clip-hexagon");
	}

	
.polygon-clip-circle {
		-webkit-clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
		clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
		-webkit-clip-path: url("#polygon-clip-circle");
		clip-path: url("#polygon-clip-circle");
	}

.polygon-clip-hcircle {
		-webkit-clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
		clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
		-webkit-clip-path: url("#polygon-clip-hcircle");
		clip-path: url("#polygon-clip-hcircle");
	}



.responsiveCal {
 
position: relative; padding-bottom: 75%; height: 0; overflow: hidden;
 
}
 
.responsiveCal iframe {
 
position: absolute; top:0; left: 0; width: 100%; height: 100%;
 
}


.sub-cols {
  /*background: #fff;*/
  text-align: center;
  padding: 0px;
  margin-bottom: 15px;
  border: 2px solid  #95CD6A;
  -webkit-box-shadow: 3px 3px 37px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 37px -12px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 37px -12px rgba(0,0,0,0.75);
  border-radius: 2px;
  height:200px;
}
.row {
  margin-bottom: 25px;
} 
    
.index-cols{
  background: #0E94D3;
  text-align: center;
  color: #fff;
  padding: 5px;
  margin-bottom: 15px;
  border: 2px solid  #95CD6A;
  -webkit-box-shadow: 3px 3px 37px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 37px -12px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 37px -12px rgba(0,0,0,0.75);
  border-radius: 2px;
  height:100px;
   
}

.profile-cols {
  text-align: center;
  padding: 0px;
  margin-bottom: 15px;
  border: 2px solid  #95CD6A;
  -webkit-box-shadow: 3px 3px 37px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 37px -12px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 37px -12px rgba(0,0,0,0.75);
  border-radius: 2px;
}

.profile-main-cols {
  text-align: center;
  padding: 0px;
  margin-bottom: 15px;
 
}

.index-main-col{
    /*background: #fff;*/
  text-align: center;
  color: #000;
  padding: 0px;
  margin-bottom: 15px;
  border: 2px solid  #95CD6A;
  -webkit-box-shadow: 3px 3px 37px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 37px -12px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 37px -12px rgba(0,0,0,0.75);
  border-radius: 2px;
  height:230px;
}


.highlight{
    background: #95CD6A;
    border-radius: 2px;
}

.label-text{
    margin-top:-20px;
    color: #fff;
    float: right;
}

.label-text-index{
    margin-top:20px;
    color: #fff;
}


.guide-content{
    color: #fff;
    text-align:center;
}

.content-block-guide {
  margin: 35px 0;
  padding: 0 0px;
  color: #6d6d72;
  box-sizing: border-box;
}



@media only screen and (min-width: 320px) {
  .ipad-profile {
    display:none;
  }
    .iphone-profile{
        display:block;
    }
}

@media only screen and (min-width: 768px) {
  .ipad-profile {
    display:block;
  }
     .iphone-profile{
        display:none;
    }
    
}

.panell-headings{
    font-size: 220%;
    color: #fff;
}

.name-headings{
    font-size: 220%;
    color: #fff;
    text-align: center;
}

.name-brief{
    color: #fff;
    text-align: center;
}

.panel-links{
    color: #fff;
    font-size: 120%;
    list-style-position: inside;
}


.swipey {
  height: 220px;
  padding: 35px 35px;
   background:#0E94D3;
    text-align: center;
    color:#fff;
}




/* Swiper Slider */;
.swiper-container {
  height: 100%;
}
.swiper-slide {
  background:#fff;
}
.swiper-slide span {
  text-align:center;
  display:block;
  margin:20px;
  font-size:21px;
}



.tabbar-labels span.tabbar-label {
    color:#fff;
}


.first-name{
    font-size:400%;
    color:#95CD6A;
    line-height: 50%;
}

.last-name{
   font-size:500%; 
   color:#95CD6A;
    line-height: 0%;
}

.location-name{
    font-size:120%;
    color:#0E94D3;
    line-height: 0%;
}

whats-happening-today{
    
   text-align: left;
}



table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #95CD6A;
    color:#fff;
}


.youtube_video{
    border:2px solid #95CD6A;
}

.dock-icons{
    max-width: 30px;
}


.vid-cols {
  /*background: #fff;*/
  text-align: center;
  padding: 0px;
  margin-bottom: 15px;
 
}